@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */

body {
  @apply bg-black text-white font-sans antialiased;
}

/* Optional scroll handling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* src/index.css */
[data-test="rhyme-preview"] .rh { font-weight: 700 !important; }



